#root > .footer{
    padding: 30px 10px 20px 10px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;

    border-top: #3f3f4e 1px solid;

    text-align: left;

}

#root > .footer > *{
    width: 30%;
    
}
#root > .footer > * > .content > div{
    margin-bottom: 20px;

    
}