#root > .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#root > .header > .logo{
    display: flex;
    
    align-items: center;
}
#root > .header > .logo > .title{
    font-size: 29px;
    font-weight: 500;
    display: flex;
    margin-left: 10px;
}

#root > .header > .logo > .icon{
    width: 30px;
    height: 30px;
   
    background-color: #5a5a5a4b;
    padding: 5px;
    border-radius: 10px;
}

#root > .header > .nav-bar {
    display: flex;
    flex-direction: row;

}

#root > .header > .nav-bar > .button{
   
    margin-left: 10px;
}
#root > .header > .nav-bar > .account{
    display: flex;
    justify-content: space-between;
    border-left: none;
    padding: 5px 0px;
    
}
#root > .header > .nav-bar > .account > img{
    border-radius: 10px;
    height: 42px
    
    
    
}

#root > .header > .nav-bar > .account > .login{
    padding: 0 20px;
    
}