*{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

body{

    margin: 0;
    background: var(--background);
    
    display: flex;
    justify-content: space-around;

    cursor: default;
}

body::-webkit-scrollbar {
    width: 0;
  }

img{
    width: 100%;
    height: auto;
}

a{
    display: block;
}

input, button{
    border: none;
    outline: none;
}


#root{

    padding: 50px 10px;
    
    width: 100%;
    min-width: 300px;
    max-width: 1024px;


}


.main-content{
    margin: 50px 10px;
}













