.main-content > .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form > .content > input{
    width: 80%;
}


.notice{
    margin-top: 40px;
    width: 330px;
    
}
.notice > a{
    display: inline;
}





